*.class


/node_modules

# SSH Keys

*.pem
*.ppk

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Merge Files
*.bak

#Gradle temporary files
target/

#Eclipse files
**/.project
**/.classpath
**/.settings/
/bin/
blog/bin/
**/.tern-project
**/.factorypath

#IntelliJ files
**/*.iml
**/.idea
**/.gradle

# Apache Tomcat
tomcat/
apache-tomcat-*/
/work/
/temp/
/logs/
*.log

# Catalina / Server configurations
catalina.out
catalina.pid
catalina.sh
conf/Catalina/
conf/server.xml
conf/web.xml

# Se o tomcat estiver embutido no projeto
/bin/catalina.*
/bin/setenv.sh

# Tomcat / Catalina
/work/
/temp/
/logs/
/conf/Catalina/
*.pid

# Smart Tomcat (IntelliJ)
.smarttomcat/

#Other Files
*.ini

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
